.teacher-item {
  background: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.teacher-item header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}

.teacher-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.teacher-item header div {
  margin-left: 2.4rem;
}

.teacher-item header div strong {
  font: 700 2.4rem Archivo;
  display: block;
  color: var(--color-text-title);
}

.teacher-item header div span {
  font-size: 1.6rem;
  display: block;
  margin-top: 0.4rem;
}

.teacher-item > p {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.teacher-item footer {
  padding: 3.2rem 2rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teacher-item footer p strong {
  color: var(--color-primary);
  font-size: 1.6rem;
  display: block;
}

.teacher-item footer a {
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2s;
  text-decoration: none;
}

.teacher-item footer a:hover {
  background: var(--color-secundary-dark);
}

.teacher-item .list-shedules-cards {
  display: flex;
  flex-direction: row;

  align-items: center;
  overflow-x: scroll;
  margin: 2rem;
  padding-bottom: 20px;
}

.teacher-item .list-shedules-cards::-webkit-scrollbar {
  /* display: none; */

  background-color: #f4f4f4;
  width: 30px;

  height: ((15px * 2) + 5px);
}

.teacher-item .list-shedules-cards::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 12px;
  background: var(--color-secundary);
  background-clip: padding-box;
}

.teacher-item .list-shedules-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 12px;
}

.teacher-item .list-shedules-cards .list-shedules-cards-item {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  flex-shrink: 0;

  background-color: var(--color-box-footer);

  cursor: pointer;

  border-radius: 0.8rem;
  border: 1px solid var(--color-line-in-white);
  margin: 0 10px;
  padding: 10px 0;
  width: 130px;
}

.teacher-item .list-shedules-cards .list-shedules-cards-item div {
  margin-top: 10px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}

.teacher-item .list-shedules-cards .list-shedules-cards-item div strong {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-text-complement);
}

.teacher-item .list-shedules-cards .disabled {
  color: var(--color-line-in-white) !important;
}

.teacher-item .list-shedules-cards .disabled div strong {
  color: var(--color-line-in-white) !important;
}

@media (min-width: 700px) {
  .teacher-item header,
  .teacher-item footer {
    padding: 3rem;
  }

  .teacher-item > p {
    padding: 0 3.2rem;
  }

  .teacher-item footer p strong {
    display: initial;
    margin-left: 1.6rem;
  }

  .teacher-item footer button {
    width: 24.5rem;
    font-size: 1.6rem;
    justify-content: center;
 
  }

  .teacher-item footer button img {
    margin-right: 1.6rem;
    border: none;
    outline: 0 !important;
    outline: none !important;
    text-decoration: none !important;
  }
}
