#page-signin {
  width: 100vw;
  height: 100vh;

  color: var(--color-text-complement);
  background-color: var(--color-background);

  transition: background-color 0.2s;
}

#page-signin-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100vw;
}

.background-container {
  width: 100vw;
}

.background-container img {
  background: url(../../assets/images/success-background.svg);
  width: auto;
  max-height: 35vh;
  object-fit: fill;
}

.form-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-height: 35vh;
}

.form-content form {
  margin-top: 8rem;

  display: flex;
  width: 100%;

  flex-direction: column;
  padding: 0 12rem;
}

h1 + .input-user {
  margin-top: 3rem;
}

.input-user + div {
  margin-bottom: 3rem;
}

.form-content h1 {
  color: var(--color-title-sin);
}

.form-option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-option-content .form-option-save label {
  margin-left: 1rem;
}

.form-content button {
  margin-top: 1rem;

  background-color: var(--color-title-sin-button);
  color: var(--color-text-complement);
  border: 0;
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
}

.form-footer {
  width: 100vw;
  margin-top: 20rem;
  display: flex;
  padding: 0 12rem;

  justify-content: space-between;
  align-items: center;
}

.form-footer .form-footer-register {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1100px) {
  #page-signin-content {
    max-width: 1100px;
    flex-direction: row;

    width: 100vw;
    height: 100vh;
  }
 
  .form-content {
  flex-shrink: 0;
   border: 1px solid red;
   flex-shrink: 0;
 
  }

  .form-content form {
    
    border: 1px solid blue;
    width: 100%;
   border: 1px solid black;

   }
  
  .background-container   {
  width: 100vw;
  height: 100vh;
   border: 1px solid red;
  }
  .background-container img {
    background: url(../../assets/images-v2/Proffy.png) no-repeat;
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
