#page-signin {
  color: var(--color-text-complement);
  background-color: var(--color-background);
  transition: background-color 0.2s;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#page-signin .background-container {
  width: 100vw;
}

#page-signin .background-container img {
  height: 21vh !important;
  object-fit: cover !important;
  padding-bottom: 4vh;
  width: 100vw !important;
}

#page-signin .form-content {
  margin-top: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-height: 34vh;
}

#page-signin .form-content form {
  margin-top: 8rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 5rem;
}

#page-signin h1 + #input-user {
  margin-top: 3rem;
}

#page-signin #input-user + div {
  margin-bottom: 3rem;
}

#page-signin .form-content h1 {
  color: var(--color-title-sin);
}

#page-signin .form-option-content {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

#page-signin .form-option-content .form-option-save {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}

#page-signin .form-option-content .form-option-save input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  display: flex;
  margin-right: 30px;
}

#page-signin
  .form-option-content
  .form-option-save
  input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: var(--color-text-complement);
  border-radius: 4px;
}

#page-signin
  .form-option-content
  .form-option-save
  input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: var(--color-secundary);
}

#page-signin
  .form-option-content
  .form-option-save
  input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

#page-signin .form-option-content .form-option-save label {
  margin-top: 8px !important;
  white-space: nowrap;
}

#page-signin .form-option-content .forgot {
  margin-top: 8px !important;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-text-complement);
}

#page-signin .form-option-content .forgot:hover {
  color: var(--color-primary);
}

#page-signin .form-content button {
  margin-top: 1rem;
  background-color: var(--color-title-sin-button);
  color: var(--color-text-complement);
  border: 0;
  border-radius: 7px;
  text-align: center;
  padding: 2rem;
  outline: none;
}

#page-signin .form-content button:enabled:hover {
  color: var(--color-title-in-primary);
  background-color: var(--color-secundary-dark);
}

#page-signin .form-content button:enabled {
  background-color: var(--color-secundary);
  color: var(--color-button-text);
  cursor: pointer;
}

#page-signin .form-footer {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#page-signin .form-footer .form-footer-register {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {
  #page-signin   {
    font-size: 0.9rem;
  }
  #page-signin h1 {
    font-size: 2.2rem;
  }
  #page-signin h2 {
    font-size: 1.2rem;
  }
  #page-signin .form-content form {
    padding: 0 1rem;
  }

  #page-signin .background-container-reset {
    display: none;
  }

  
}

@media (min-width: 900px) {
  #page-signin-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  #page-signin .form-content {
    margin-top: 0rem;
    display: flex;
    width: 650px;
    max-height: 100vh;
  }
  #page-signin .form-content form {
    margin-top: 1rem;
    display: flex;
    width: 650px;
    flex-direction: column;
    padding: 0 8rem;
  }
  #page-signin .background-container {
    background-color: var(--color-primary);
    width: calc(100vw - 650px) !important;
    height: 100vh !important;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page-signin .background-container img {
    width: calc(100vw - 650px) !important;
    height: 80vh !important;
    object-fit: cover !important;
  }
  #page-signin .form-footer {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
