#input-user {
  width: 100%;

  height: 6.8rem;
  padding: 0 0.8rem;
  margin-top: 0.8rem;

  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  font: 1.6rem Archivo;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

#input-user img {
  /* padding-right: 2rem; */
}

#input-user.invalid {
  position: relative;
}

#input-user .input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% - 2rem) !important;
  padding: 1rem 1.6rem;
  position: relative;
}

#input-user .input-label label {
  color: var(--color-text-complement);
  font-size: 12px;
  font-weight: 100 !important;
}

#input-user .input-label input {
  border-radius: 0 !important;
  border: 0 !important;
  background: var(--color-input-background);
  outline: 0;
  position: relative;
  width: 100%;
 
}

.input-icon {
  cursor: pointer;
}

.input-icon:hover {
  opacity: 0.6;
}

#input-user:focus-within::after {
  width: calc(100% - 3.2rem);
  width: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 0;
  top: 1.6rem;
  bottom: 1.6rem;
}

#input-user.fillValue::before {
  width: calc(100% - 3.2rem);
  width: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 0;
  top: 1.6rem;
  bottom: 1.6rem;
}

#input-user.invalid:focus-within::after {
  width: calc(100% - 3.2rem);
  width: 2px;
  content: "";
  background: crimson;
  position: absolute;
  left: 0;
  top: 1.6rem;
  bottom: 1.6rem;
}

#input-user.invalid::before {
  width: calc(100% - 3.2rem);
  width: 2px;
  content: "";
  background: crimson;
  position: absolute;
  left: 0;
  top: 1.6rem;
  bottom: 1.6rem;
}
